@model List<ClienteModel>
@{
    ViewData["Title"] = "Consultar a lista do Cliente";
}

<div class="text-center">
  <h1 class="display-4">Listagem de Cliente</h1>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cpf</th>
      <th scope="col">Profissão</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     @if(Model != null && Model.Any())
     {
       foreach(ClienteModel cliente in Model)
       {
          <tr>
            <th scope="row">@cliente.Id</th>
            <td>@cliente.Nome</td>
            <td>@cliente.Email</td>
            <td>@cliente.Cpf</td>
            <td>@cliente.Profissao</td>
            <td>
               <a role="button" asp-controller="Cliente" asp-action="Editar" class="btn btn-primary">Editar</a>
               <a role="button" asp-controller="Cliente" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
            </td>            
          </tr>
       }          
     }
  </tbody>
</table>