<form asp-controller="Cliente" asp-action="ListarPorNome">
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" aria-describedby="nome" placeholder="Diogite o nome">
  </div>
  <button type="submit" class="btn btn-primary">Pesquisar Cliente</button>
</form>
<br/>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cpf</th>
      <th scope="col">Profissão</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     @if(Model != null && Model.Any())
     {
       foreach(ClienteModel cliente in Model)
       {
          <tr>
            <th scope="row">@cliente.Id</th>
            <td>@cliente.Nome</td>
            <td>@cliente.Email</td>
            <td>@cliente.Cpf</td>
            <td>@cliente.Profissao</td>
            <td>
               <a role="button" asp-controller="Cliente" asp-route-id="@cliente.Id" asp-action="Editar" class="btn btn-primary">Editar</a>
               <a role="button" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
            </td>            
          </tr>
       }          
     }
  </tbody>
</table>